html, body {
    background: #fff;
    padding: 20px;
}


*{
    padding: 0px;
    margin: 0;
    font-size: 18px;
}

a{
    color: #ff5959;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
