@charset "UTF-8";

/**
  整个项目的颜色配置
 */

/** global color */

/** global font size */

/** button color */

/** global size setting */

/**
  整个项目的颜色配置
 */

/** global color */

/** global font size */

/** button color */

/** global size setting */

a {
  text-decoration: none !important;
}

.gp_button_white {
  background: #fff;
  color: #46d233;
  border: 0.01rem solid #46d233;
}

.gp_button_h40 {
  height: 0.4rem;
  line-height: 0.4rem !important;
  font-size: 0.16rem;
}

.gp_button_topic_main {
  background: #46d233;
  color: #fff;
  border: 0;
  -webkit-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.gp_button_topic_main:hover {
  background: #30c31c;
}

.gp_button {
  display: inline-block;
  vertical-align: top;
  -webkit-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
  width: auto;
  border-radius: 0;
  text-align: center;
  padding-left: 0.23rem;
  padding-right: 0.23rem;
  margin-left: 0;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 0.4rem;
  line-height: 0.4rem !important;
  font-size: 0.16rem;
}

.slide_down-enter-active {
  transition: all .5s ease-in-out .2s;
}

.slide_down-enter,
.slide_down-leave-to {
  -webkit-transform: translate(0, -0.5rem);
  -ms-transform: translate(0, -0.5rem);
  -moz-transform: translate(0, -0.5rem);
  transform: translate(0, -0.5rem);
  opacity: 0;
}

.slide_down-leave-active {
  transition: all .5s;
}

.w_pui_dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
}

.w_pui_dialog .cc_close {
  width: 0.12rem;
  height: 0.12rem;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  cursor: pointer;
}

.w_pui_dialog .cc_close .iconfont {
  color: #999;
}

.w_pui_dialog .cc_close .iconfont img {
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.w_pui_dialog .cc_close .iconfont:hover img {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
}

.w_pui_dialog > .cc_main {
  position: relative;
  padding: 0.4rem 0.6rem;
  z-index: 100000;
}

.w_pui_dialog.cc_topic_default .cc_main {
  background: #fff;
}

.w_pui_dialog .cc_confirm > .cc_content {
  min-height: 0.3rem;
  padding: 0.1rem 0.2rem 0.4rem 0.2rem;
  overflow: hidden;
  font-size: 0.2rem;
  min-width: 4rem;
  text-align: center;
}

.w_pui_dialog .cc_confirm > .cc_tools {
  text-align: right;
}

.w_pui_dialog .cc_confirm > .cc_tools > a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 0.15rem;
}

.w_pui_dialog_mask .cc_in {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  opacity: 0.5;
}

.w_pui_dialog_mask .fade-enter-active,
.w_pui_dialog_mask .fade-leave-active {
  transition: opacity .3s;
}

.w_pui_dialog_mask .fade-enter,
.w_pui_dialog_mask .fade-leave-to {
  opacity: 0;
}