body {
    /* background-color: #FF00AA;
    */
    padding: 15px;
}
li {
    list-style: none;
    padding: 5px 0;/*no*/
}
a {
    color: #ff5959;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

#app{
    padding: 25px 0;
}

.footer{
    padding: 25px 0;
}