$font-size:12px;
$font-color:#333;
$font-family:"Microsoft YaHei";

$color_a:#ff5959;
$color_b:#ff6a6e;


$link-color:$color_a;
$link-color-active:darken($link-color,10%);
$link-color-hover:#5d9cec;
$background:#fff;


//分页
$fs_pageno_middle:30px;
$fs_pageno_blue_bgcolor:#fff;
$fs_pageno_blue_color:#666;
$fs_pageno_blue_bgcolor_h:#5daaeb;
$fs_pageno_blue_color_h:#fff;
$fs_pageno_blue_bordercolor:#e4e4e4;
$fs_pageno_radius:15px;
$fs_pageno_middle_fontsize:16px;
$fs_pageno_middle_long:40px;


$border_color:#eeeeee;
$out_border_color:#dedede;
