/** global color */
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$default-grey: #ccc;
$light-grey: #999;
$lighter-grey: #666;
$dark-grey: #333;

$them-green: #46d233;
$them-page-bg: #f4f6f9;

$label-font-color: #111;
$input-font-color: #444;
$shadow-color: #eee;
$avatar-bg-color: #f2f6f8;
$border-color: #e2e2e2;
$warning-color: #f74753;
$placeholder-grey-color: #ccc;
$default-avatar-color: #dee4e7;
$tag-bg-color: #f0f1f2;

$alipay-color: rgb(25, 175, 254);
$wechat-color: #51d349;
$qq-color: #16bbec;
$sina-color: #e36961;
$qzone-color: #ffce00;


/** global font size */
$smaller-font: .10rem;
$small-font: .12rem;
$default-font: .14rem;
$large-font: .16rem;
$larger-font: .32rem;
$title-font: .24rem;


/** button color */
$toggle-icon: #aaa;

/** global size setting */
$page-width: 1200px;
